.home {
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5em 5em 0 5em;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(90,155,173,1) 63%, rgba(36,76,87,1) 100%);
    border-top-left-radius: 0px;
}

.searchInputContainer {
    width: 100%;
    display: flex;
}

.searchInput {
    flex-grow:5;
}

.searchButtonContainer button {
    height: 100%;
}
.searchButtonContainer{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #93cede;
}

.home h1 {
    text-align: center;
}

.home img {
    margin: 0 auto;
    width: 7em;
    height: 7em;
    mix-blend-mode: multiply;
}

